
$fret-blue: #1e5a8d;
$side-margin: 4%;
$top-banner-height: 104px;

$side-margin-small-screen: 8%;

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body {
    margin: 0;
    padding: 0 0 16px 0;
    font-family:"Open Sans", Gadget, sans-serif;
    font-weight: 400;
    background-color: $fret-blue;
}
img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}
a {
    text-decoration: none;
}
#top {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: $top-banner-height;
}
#logo {
    float: left;
    width: 226px;
    height: 45px;
    background-image: url(../images/logo.png);
    background-size: 226px 45px;
    position: relative;
    left: $side-margin;
    top: 20px;
}
#nav {
    float: right;
    margin: 0 $side-margin 0 0;
    a {
	color: #FFFFFF;
	padding: 24px 2px 16px 2px;
	margin: 0 6px;
	display: inline-block;
	height: 16px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 300;
	font-size: 11pt;
    }
    a.current {
	border-bottom: 1px solid #FFFFFF;
    }
}
#contents {
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
}
#btn-contact {
    background-image: url(../images/contact-button.png);
    background-size: 177px 48px;
    width: 177px;
    height: 48px;
    display: inline-block;
    margin: 0 0 1em 0;
}
ul.portfolio {
    margin: 0 auto 1em auto;
    padding: 0;
    display: block;
    width: fit-content;
}
ul.portfolio li {
    display: flex;
    float: left;
    justify-content: center;
    list-style-type: none;
    width: 143px;
    height: 300px;
    background-image: url(../images/device-blueprint.png);
    background-size: 143px 300px;
    margin: 0 0.5em 1em 0;
}
ul.portfolio li a {
    display: inline-block;
    align-self: center;
    max-width: 64px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11pt;
    color: #FFFFFF;
}
.full {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.small-center {
    align-self: center;
    text-align: center;
    width: 60%;
    max-width: 600px;
    color: #FFFFFF;
    h1 {
	font-size: 20pt;
	font-weight: 600;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
    }
    h2 {
	font-size: 16pt;
	font-weight: 300;
	letter-spacing: 1px;
	margin: 0;
	text-transform: uppercase;
    }
}
.sep {
    background-color: #FFFFFF;
    display: block;
    clear: both;
    height: 1px;
    width: 200px;
    margin: 12px auto;
}
.narrow {
    margin: 0 auto;
    font-size: 12pt;
}

@media (max-width: 800px) {
    body {
        overflow: auto;
        --webkit-text-size-adjust: none;
    }
    #logo {
	left: $side-margin-small-screen;
	background-size: contain;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-repeat: no-repeat;
    }
    #contents {
	margin-left: $side-margin-small-screen;
	margin-right: $side-margin-small-screen;
    }
}

@media (max-width: 540px) {
    #logo {
	width: 242px;
	height: 48px;
	top: 26px;
    }
}