html {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
body {
    margin: 0;
    padding: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family:"Open Sans", Gadget, sans-serif;
    font-weight: 400;
}
img {
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}
a {
    text-decoration: none;
    color: #000;
}
#content {
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 20%;
}
#columns {
    width: 75%;
    margin: 60px auto 0 auto;
}
#logo {
    padding: 0 16px;
}
#get-in-touch {
    color: #000;
    border-bottom: 1px solid #666;
    display: inline;
}
.half {
    width: 50%;
    text-align: center;
    float: left;
    vertical-align: top;
}
.half p {
    color: #333;
    margin: 0;
}

@media (max-width: 600px) {
    body {
        overflow: auto;
        --webkit-text-size-adjust: none;
    }
    .half {
	width: 100%;
	clear: both;
    }
    .half p {
	margin-bottom: 6px;
    }
}
